extends layout

block content
  .section
    h6.section-header
      a(href=post.url)
        = post.title

    p
      small posted by #{post.author} on #{post.date.getFullYear()}.#{post.date.getMonth()+1}.#{post.date.getDate()}

    != post.content